body{
  background: green;
  color: pink;
  }
  a{
	  color: white;
  }
  a:hover{
   color:black;
   background: white;
   text-decoration: none;
  
  }
  h2{
	  font-family:serif;
	  font-size:100pt;
  }
  body
{
     background:black;
	 font-family:monospace;
	 
	 ]
	 
a hover{
     colour:pink;
	 background:white;
	 text-decorator:none;
	 }