 @media (min-width:750px)
 {  
     .responsive{
	 background:pink;
	 display:inline-table;
	 width:200px;
	 border:1px solid black;
	 
	 }
 }
@media (min-width:1000px)
 {  
     .responsive{
	 background:pink;
	 display:inline-table;
	 width:500px;
	 border:1px solid black;

	 }
	 
	 