 body{
  background: green;
  color: pink;
  }
  a{
	  color: white;
  }
  a:hover{
   color:black;
   background: white;
   text-decoration: none;
  
  }
  h1{
	  font-family:serif;
	  font-size:50pt;
  }